<!--
  Generated template for the ResultadoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="aat">
        <ion-title>Encuentro Nro # {{encuentroId}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>

    <ion-card>
        <ion-card-header text-center>
            <strong>PARTIDO 1</strong>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Tipo</ion-label>
                    <ion-select [(ngModel)]="p1_tipo" (ionChange)="cambiaTipo($event,'p1')">
                        <ion-option value="s1">Single 1</ion-option>
                        <ion-option value="s2">Single 2</ion-option>
                        <ion-option value="d1">Dobles 1</ion-option>
                        <ion-option value="d2">Dobles 2</ion-option>
                        <ion-option value="d3">Dobles 3</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item-group>
                    <ion-item-divider color="light">{{localNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{singles1local1}}</p>
                        <ion-icon (click)="agregarJugador('l','p11',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p1_tipo=='d1' || p1_tipo=='d2' || p1_tipo=='d3'">
                        <p>{{singles1local2}}</p>
                        <ion-icon (click)="agregarJugador('l','p12',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
                <ion-item-group>
                    <ion-item-divider color="light">{{visitaNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{singles1visita1}}</p>
                        <ion-icon (click)="agregarJugador('v','p11',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p1_tipo=='d1' || p1_tipo=='d2' || p1_tipo=='d3'">
                        <p>{{singles1visita2}}</p>
                        <ion-icon (click)="agregarJugador('v','p12',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header text-center>
            <strong>PARTIDO 2</strong>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Tipo</ion-label>
                    <ion-select [(ngModel)]="p2_tipo" (ionChange)="cambiaTipo($event,'p2')">
                        <ion-option value="s1">Single 1</ion-option>
                        <ion-option value="s2">Single 2</ion-option>
                        <ion-option value="d1">Dobles 1</ion-option>
                        <ion-option value="d2">Dobles 2</ion-option>
                        <ion-option value="d3">Dobles 3</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item-group>
                    <ion-item-divider color="light">{{localNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{singles2local1}}</p>
                        <ion-icon (click)="agregarJugador('l','p21',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p2_tipo=='d1' || p2_tipo=='d2' || p2_tipo=='d3'">
                        <p>{{singles2local2}}</p>
                        <ion-icon (click)="agregarJugador('l','p22',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
                <ion-item-group>
                    <ion-item-divider color="light">{{visitaNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{singles2visita1}}</p>
                        <ion-icon (click)="agregarJugador('v','p21',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p2_tipo=='d1' || p2_tipo=='d2' || p2_tipo=='d3'">
                        <p>{{singles2visita2}}</p>
                        <ion-icon (click)="agregarJugador('v','p22',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header text-center>
            <strong>PARTIDO 3</strong>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label>Tipo</ion-label>
                    <ion-select [(ngModel)]="p3_tipo" (ionChange)="cambiaTipo($event,'p3')">
                        <ion-option value="s1">Single 1</ion-option>
                        <ion-option value="s2">Single 2</ion-option>
                        <ion-option value="d1">Dobles 1</ion-option>
                        <ion-option value="d2">Dobles 2</ion-option>
                        <ion-option value="d3">Dobles 3</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item-group>
                    <ion-item-divider color="light">{{localNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{dobleslocal1}}</p>
                        <ion-icon (click)="agregarJugador('l','p31',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p3_tipo=='d1' || p3_tipo=='d2' || p3_tipo=='d3'">
                        <p>{{dobleslocal2}}</p>
                        <ion-icon (click)="agregarJugador('l','p32',local)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
                <ion-item-group>
                    <ion-item-divider color="light">{{visitaNombre}}</ion-item-divider>
                    <ion-item>
                        <p>{{doblesvisita1}}</p>
                        <ion-icon (click)="agregarJugador('v','p31',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                    <ion-item *ngIf="p3_tipo=='d1' || p3_tipo=='d2' || p3_tipo=='d3'">
                        <p>{{doblesvisita2}}</p>
                        <ion-icon (click)="agregarJugador('v','p32',visita)" name="person-add" item-end color="aat"></ion-icon>
                    </ion-item>
                </ion-item-group>
            </ion-list>
        </ion-card-content>
    </ion-card>


    <!-- <ion-card>
        <ion-card-header text-center>
         Singles 1 
        </ion-card-header>
        <ion-card-content >
              <ion-item>
                <ion-label> {{localNombre}}</ion-label>
                <button ion-button outline item-end icon-start (click)="agregarJugador('l','S1',local)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
                </ion-item>
                <ion-item>
                    <p>{{singles1local}}</p>
                </ion-item>

              <ion-item>
                  <ion-label>{{visitaNombre}} </ion-label>
                <button ion-button outline item-end icon-start (click)="agregarJugador('v','S1',visita)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
                </ion-item>
                <ion-item>
                        <p>{{singles1visita}}</p>
                </ion-item>
            </ion-card-content>    
    </ion-card>

    <ion-card>
        <ion-card-header text-center>
          Singles 2  
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>{{localNombre}}</ion-label>
                <button ion-button outline item-end icon-start (click)="agregarJugador('l','S2',local)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
              </ion-item>
              <ion-item>
                    <p>{{singles2local}}</p>
            </ion-item>
              <ion-item>
                  <ion-label>{{visitaNombre}}</ion-label>
                  <button ion-button outline item-end icon-start (click)="agregarJugador('v','S2',visita)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
                </ion-item>
                <ion-item>
                        <p>{{singles2visita}}</p>
                </ion-item>
        </ion-card-content>    
    </ion-card>

    <ion-card>
        <ion-card-header text-center>
          Dobles 
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>{{localNombre}}</ion-label>
                <button ion-button outline item-end icon-start (click)="agregarJugador('l','D1',local)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
              </ion-item>
              <ion-item>
                    <p>{{dobleslocal1}}</p>
            </ion-item>
              <ion-item>
                  <ion-label>{{localNombre}}</ion-label>
                  <button ion-button outline item-end icon-start (click)="agregarJugador('l','D2',local)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
                </ion-item>
                <ion-item>
                        <p>{{dobleslocal2}}</p>
                </ion-item>
              <ion-item>
                  <ion-label>{{visitaNombre}}</ion-label>
                  <button ion-button outline item-end icon-start (click)="agregarJugador('v','D1',visita)">
                        <ion-icon name="person"></ion-icon>
                        Agregar
                      </button>
                </ion-item>
                <ion-item>
                        <p>{{doblesvisita1}}</p>
                </ion-item>
                <ion-item>
                    <ion-label>{{visitaNombre}}</ion-label>
                    <button ion-button outline item-end icon-start (click)="agregarJugador('v','D2',visita)">
                            <ion-icon name="person"></ion-icon>
                            Agregar
                          </button>
                  </ion-item>
                  <ion-item>
                        <p>{{doblesvisita2}}</p>
                </ion-item>
        </ion-card-content>
    </ion-card> -->
</ion-content>